body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(247, 247, 224);
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto Serif", serif;
}

.home-page-center-text {
  background-color: rgba(0,0,0,0.5);
}

footer {
  color: white;
  background-color: darkgrey;
  padding: 2%;
  margin-top: 4rem;
}

.menu-item-card {
  border: solid 1px;
}

.reservation-button {
  color: white; 
  border: 1px solid white;
  background-color: coral;
}